lfw_funneled
lfw_dataset
data_2
data
celab_105_data
greymodel_more_colab_save50.pt
greymodel_more_colab_save100.pt
greymodel_more_colab_save150.pt
greymodel_more_save.pt
greymodel_save.pt
my_model_save.pt